<nz-card [nzBordered]="true" [nzNoHovering]="true">
    <ng-template #title>
        <strong>
            {{stock.Desp}}
        </strong>
    </ng-template>
    <ng-template #extra>
        <!-- {{stock.LastUpdate | date:'yyyy-MM-dd h:mm a'}} -->
        {{stock.LastUpdate | date:'h:mm a'}}
        <button nz-button (click)="openUrl()" [nzSize]="'small'">
            <i class="anticon anticon-export"></i>
        </button>
        <button nz-button (click)="delete()" [nzSize]="'small'">
            <i class="anticon anticon-delete"></i>
        </button>
    </ng-template>
    <ng-template #body>
        <div>
            <div nz-row [nzType]="'flex'" [nzGutter]="8" [nzJustify]="'start'" [nzAlign]="'top'">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <strong>
                        前收市:{{stock.PrevClose}}
                    </strong>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <strong>
                        開市:{{stock.Open}}
                    </strong>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <strong>
                        最高:{{stock.High}}
                    </strong>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <strong>
                        最低:{{stock.Low}}
                    </strong>
                </div>
            </div>
            <div nz-row [nzGutter]="8">
                <div nz-col style="font-size : large" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <strong>
                        現價:
                        <span>{{stock.Last}}</span>
                    </strong>
                </div>
            </div>
            <div nz-row [nzGutter]="8" [style.background-color]="(stock.Change > 0) ? '#98fb98' : '#f64343'" [style.color]="'white'">
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <ul>
                        <li>
                            <app-trend [flag]="stock.PctChange >= 0 ? 'up' : 'down'" style="display:block; margin-top:2px;"> 變動:
                                <span> {{stock.Change}}</span>
                            </app-trend>
                        </li>
                        <li>
                            <app-trend [flag]="stock.PctChange >= 0 ? 'up' : 'down'" style="display:block; margin-top:2px;"> 變動%:
                                <span> {{stock.PctChange}}</span>
                            </app-trend>
                        </li>
                    </ul>
                </div>
                <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="12">
                    <ul>
                        <li>
                            <strong>
                                成交量:{{stock.Volume}}
                                <!-- 成交量:{{stock.Volume | NumberPipe}} -->
                            </strong>
                        </li>
                        <li>
                            <strong>
                                成交額:{{stock.Turnover}}
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </ng-template>
</nz-card>